@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex($fl:flex, $jc:center, $ai:center) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
}

@mixin mobile {
    @media screen and (min-width:$mobile ) {
        @content;}
    
}

@mixin tablet {
    @media screen and (min-width:$tablet ) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$desktop ) {
        @content;
    }
}

@mixin retina {@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        @content;
    }   
}